
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.product-details {
    max-width: 800px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-image {
    flex: 1;
    position: relative;
    overflow: hidden;
    margin-right: 20px;
}

.product-image img {
    width: 100%;
    display: block;
    border-radius: 8px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.zoom-btns {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    gap: 10px;
}

.zoom-btn {
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.zoom-btn:hover {
    background-color: #4CAF50;}


.product-info {
    flex: 1;
}

.product-info h2 {
    font-size: 24px;
    margin-top: 0;
}

.product-info p {
    font-size: 16px;
    margin: 10px 0;
}
